/* Estilo común para los botones INICIO*/
.button-nivel {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-font-size: 16px;
    -fx-cursor: hand; /* Cambia el cursor a forma de mano */
        -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0, 0, 5);
}
/* Efecto hover en botones */
.button:hover {
    -fx-background-color: #45a049;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/* Efecto de click */
.button:pressed {
    -fx-background-color: #388E3C;
}

/* Estilo común para los botones NIVEL 1*/
.button-style {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0, 0, 5);
}












/* Color de la comprobacion de la respuesta */
.label-correcto {
    -fx-text-fill: green;
    -fx-font-size: 20px;
}
.label-incorrecto {
    -fx-text-fill: red;
    -fx-font-size: 20px;
}
