/* Fondo general */
.root {
    -fx-background-color: linear-gradient(to bottom, #FFD700, #FFA500, #F08080);
}

/* Estilo del título */
.label-titulo {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #333366;
    -fx-padding: 20px;
    -fx-text-alignment: center;
}

/* Estilo de la descripción */
.label-descripcion {
    -fx-font-size: 18px;
    -fx-text-fill: #336699;
    -fx-padding: 10px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

/* Estilo de los botones */
#botonFacil, #botonMedio, #botonDificil {
    -fx-background-color: #4CAF50; /* Verde */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
    -fx-cursor: hand;
}

/* Efecto hover en botones */
.button:hover {
    -fx-background-color: #45a049;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Efecto de click */
.button:pressed {
    -fx-background-color: #388E3C;
}

/* Color de la comprobacion de la respuesta */
.label-correcto {
    -fx-text-fill: green;
    -fx-font-size: 16px;
}
.label-incorrecto {
    -fx-text-fill: red;
    -fx-font-size: 16px;
}
